body{
    box-sizing: border-box;
    background-color: lightgray;
    margin: 0;
    height: 100vh;
    font-family: 'Outfit',sans-serif;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 275px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding:15px;
    height: fit-content;
}
.top{
    width: 100%;
}
.top img{
    border-radius: 10px;
    width: 100%;
}
.bottom{
    font-size: 16px;
    text-align: center;
}
.heading{
    font-size: 24px;
    font-weight: 600;
}